
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500;700&display=swap');
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }

html{
    height: 100%;
}

body{
    background-color: #ffffff;
    height: 100%;
    overflow: hidden;
    margin: 0;
}

/* HEADER AND FORM */
.flexy-parent{
    display: flex;
    flex-direction: column;
    height: 10%;
    width: 50%;
    
}


.header{
    display: inline-flex;
}


.input-form{
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    font-family: 'Quicksand', sans-serif;
    margin-top: 15%;
    margin-left: 25%;
}

button{
    align-self: flex-end;
    font-family:  'Quicksand', sans-serif;
    font-size: 16px;
    width: 60px;
    height: 30px;
    padding: 5px 5px;
    color: white;
    border: none;
    border-radius: 5px;
    background-color: rgb(147,38,38);
    transition-duration: .15s;

}

button:hover{
    background-color: rgba(129, 35, 35, 0.884);
}

a{
    margin-top: 20px;
    align-self: flex-end;
}

.side-color{

    display: inline-flex;
    float: right;
    background-color: rgb(147,38,38);    
    height: 100%;
    width: 50%;
}


/*  */
img{
    display: inline-block;
    width: 40px;
    margin-top: 20px;
    margin-left: 30px;
}
p{
    display: inline-block;
}

h1{
    margin: 0 0 0 0px;
    font-family: 'Quicksand', sans-serif;
}

.p-header{
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    margin-top: 30px;
    margin-left: 20px;
    font-size: 40px;
    color: rgb(147,38,38);
}

h1{
    font-size: 40px;
    text-align: left;
}

a {
    font-size: 16px;
    font-weight: 700;
    color: rgb(147,38,38);
    text-decoration: none;
}


h6{
    margin-top: 10px;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    font-weight: 500;
}



input{
    font-family: 'Quicksand', sans-serif;
    border-color: rgb(147,38,38);
    border-radius: 5px;
    width: 100%;
    margin-top: 10px;
    align-items: center;
    font-size: 30px;
}

input::-webkit-input-placeholder {
    font-size: 30px;
    line-height: 3;
}





