*{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body{
    background: #f5f6fa;
}

header{
    background-image: url(pup.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.wrapper .sidebar{
    background: #771515;
    position: fixed;
    top: 0;
    left: 0;
    width: 225px;
    height: 100%;
    padding: 20px 0;
    transition: all 0.5s ease;
}

.wrapper .sidebar .logo{
    margin-bottom: 30px;
    text-align: center;
}

.wrapper .sidebar .logo img{
    float: left;
    width: 50px;
    height: 50px;
    margin-left: 5%;
    margin-top: -3%;
}

.wrapper .sidebar .logo h3{
    color:  #dee4ec;
    vertical-align: middle;
    font-size: 15px;
    margin-top: 3%;
}

.wrapper .sidebar .logo p{
    color: #dee4ec;
    vertical-align: text-bottom;
    font-size: 10px;
    margin-top: 1%;
}

.wrapper .sidebar ul li a{
    display: block;
    padding: 13px 30px;
    border-bottom: 1px solid #a1322e;
    color: rgb(241, 237, 237);
    position: relative;
    font-size: 15px;
}

.wrapper .sidebar ul li a .icon{
    color: #dee4ec;
    width: 20px;
    display: inline-block;
}

.wrapper .sidebar ul li a:hover,
.wrapper .sidebar ul li a.active{
    color: rgb(243, 225, 67);
    background: #a1322e;
    border-right: 2px solid #771515;
}

.wrapper .sidebar ul li a:hover .icon,
.wrapper .sidebar ul li a.active .icon{
    color: rgb(243, 225, 67);

}

.wrapper .sidebar ul li a:hover::before,
.wrapper .sidebar ul li a.active::before{
    display: block;
}

.wrapper .sidebar .footnote{
    color: #dee4ec;
    text-align: left;
    font-size: 9px;
    position: fixed;
    bottom: 0;
    width: 15%;
    margin-left: 5px;
}

.wrapper .section{
    width: calc(100% - 225px);
    margin-left: 225px;
    transition:  all 0.5s ease;
}

.wrapper .section .nav{
    background-color: rgb(238, 199, 69);
    height: 98px;
    display: flex;
    align-items: center;
}

.wrapper .section .nav h1{
    color: rgb(185, 50, 50);
    padding-left: 5%;
    text-shadow: 2px 2px #f5f6fa;
    font-family: 'Yeseva One', cursive;
}

.wrapper .section .nav p{
    margin-left: 20px;
}

/* .wrapper .text h2{
    font-size: 30px;
    margin-top: 30px;
    margin-left: 245px;
    width: 1654px;
    height: 800px;
    background-color: white;
    opacity: 40%;
} */

.text_form {
    padding-top: 40px;
    padding-bottom: 140px;
    padding-left: 280px;
    text-align: left;
}

.text_form .text_box{
    padding-top: 30px;
}

.text_form .text_box .text{
    resize: none;
    width: 550px;
    height: 300px;
    color: gray;
    font-family: 'Lato', sans-serif;
}

.text_form .button{
    position: absolute;
    top: 35%;
    background-color: #a1322e;
    border: 3px black;
    color: white;
    font-weight: 200;
    cursor: pointer;
    padding: 10px 10px 10px;
    margin-left: 610px;
    font-family: 'Lato', sans-serif;
}

.note{
    margin-top: 50px;
    margin-left: 280px;
}

table, th, td {
    margin-top: 9px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 15px;
    padding-left: 70px;
    padding-right: 70px;
    margin-left: 270px;
    border: 1px solid black;
    
 }

