*{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body{
    background: #f5f6fa;
    overflow-y:  hidden;
}

.sidebar{
    background: #771515;
    position: fixed;
    top: 0;
    left: 0;
    width: 225px;
    height: 100%;
    padding: 20px 0;
    transition: all 0.5s ease;
}

.profile{
    margin-bottom: 30px;
    text-align: left;
}

.profile img{
    float: left;
    width: 50px;
    height: 50px;
    margin-left: 5%;
    margin-right: 3%;
    margin-top: 3%;
}

.profile #student_name{
    vertical-align: middle;
    font-size: 15px;
    color: #dee4ec;
}

.profile #student_id{
    font-size: 14px;
    color: #dee4ec;
    vertical-align: text-bottom;
    margin-top: 1%;
}

.sidebar ul li a{
    display: block;
    padding: 13px 30px;
    border-bottom: 1px solid #a1322e;
    color: rgb(241, 237, 237);
    position: relative;
    font-size: 15px;
    font-family: 'open sans', san sans-serif;
}

.wrapper .sidebar ul li a .smenu_icon
.wrapper .smenu_icon ul li a.active .smenu_icon{
    color: #dee4ec;
    width: 20px;
    display: inline-block;
}

 ul li a:hover,
 ul li a.active{
    color: rgb(243, 225, 67);
    background: #a1322e;
    border-right: 2px solid #771515;
}

 ul li a:hover .smenu_icon
 ul li a.active .smenu_icon{
    color: rgb(243, 225, 67);
}

ul li a:hover::before,
ul li a.active::before{
    display: block;
}

.footer{
    color: #dee4ec;
    text-align: center;
    font-size: 10px;
    position: fixed;
    bottom: 0;
    width: 11%
}

.section{
    width: calc(100%-225px);
    margin-left: 225px;
}

.greetings{
    background-color: rgb(238, 199, 69);
    height: 70px;
    width: 2400px;
    padding-left: 5%;
    align-items: center;
    display: table-cell;
    vertical-align: middle;
}

#homeG{
    margin-left: auto;
    margin-right: auto;
    color: #a1322e;
    text-shadow: 3px 1px white;
    font-family: 'Yeseva One', cursive;
    text-indent: 15px;
}

#background{
    background-image: url(homepage.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.ticket_form{
    padding-top: 40px;
    padding-bottom: 140px;
    padding-left: 280px;
    background-color: rgba(248, 249, 252, 0.534) ;
    text-align: left;
}

#send_to{
    color: black;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}

#Lsubject{
    color: black;
    display: inline-block;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    padding-top: 15px;
}

#t_subject{
    vertical-align: middle;
    margin-left: 5px;
    min-width: 302px;
    max-height: 22px;
    resize: none;
    padding: 2px 5px;
    color: black;
    font-family: 'Lato', sans-serif;
}

.ticket_form .select{
    display: inline-block;
    padding-left: 5px;
    size: 20px;
}

#faculty{
    width: 300px;
    font-size: 15px;
    font-family: 'Lato', sans-serif;
}

.ticket_form .text_input{
    padding-top: 30px;
}

#message{
    resize: none;
    width: 550px;
    height: 300px;
    color: gray;
    font-family: 'Lato', sans-serif;
    padding: 20px 25px 25px;
}

.button{
    position: absolute;
    top: 42%;
    background-color: #a1322e;
    border: 3px black;
    color: white;
    font-weight: 200;
    cursor: pointer;
    padding: 10px 10px 10px;
    margin-left: 610px;
    font-family: 'Lato', sans-serif;
}

.container{
    padding-top: 25px;
    margin-left: 300px;
    margin-right: 500px;
}

.table-history{
    width: 1000px;
}

/* reply interface */
.text_form {
    margin-top: 100px;
    margin-left: 50%;
    padding-top: 0px;
    padding-bottom: 1400px;
    padding-left: 280px;
    text-align: left;
}

.ticket-history-bg{
    position: absolute;
    margin: 5% 20% ;
    padding: 10px;
    background: rgb(255, 214, 214);
    height: 700px;
    width: 600px;
    border-color: #771515;
    border-style: solid;
    border-radius: 10px;
}

.ticket-history-inner{
    border: solid 3px #771515;
   margin: 5% ;
    background: #fffcde;
    width: 500px;
    height: 500px;
    overflow:hidden;
    overflow-y: scroll;
}

.ticket-history-object{
    color:rgb(0, 0, 0);
}
.text_box{
    padding-top: 30px;
}

.text{
    resize: none;
    width: 550px;
    height: 300px;
    color: gray;
    font-family: 'Lato', sans-serif;
    padding: 20px 25px 25px;
}